
{% extends  'main.html'%}
{% load static %}
{% load crispy_forms_tags %}  

{% block content %}
<div class="container">
    <h1>Body Checkup</h1>
    <img src="{% static 'images/demo/bmi.jpg' %}" alt="">
    <p>Body Mass Index has become particularly popular to gauge the health of your weight, because it relates weight to height. A normal BMI is 18.5 to 24.9.

        A BMI of 25 to 30 puts you in the overweight category, increasing your risk for numerous diseases and health conditions.
        
        A BMI above 30 means you are obese, a formal medical condition recognized by the federal government and most insurers. To figure your BMI check out our</p>
    <p><strong>User:</strong>{{user.username}}</p>
    <p><strong>Blood Type:</strong>{{user.bloodtype}}</p>
    <p><strong>Born in:</strong>{{user.birthdate}}</p>
    <p><strong>Height:</strong>{{user.height}}</p>
    <p><strong>Weight:</strong>{{user.weight}}</p>
    <p><strong>BMI:</strong>{{bmi}}</p>
    <p><strong>Status:</strong>{{status}}</p>
</div>
{% endblock %}

