{% load static %}
<!DOCTYPE html>

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>

<title>HTI AI HealthCareSystem</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="{% static 'layout/styles/layout.css' %}" />
      <!--Bootstrap CSS-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      
    
    </head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="one_quarter first">
      <h1><a href="index.html"><span>DR.</span>Robot</h1>
    </div>
    <div class="three_quarter">
      <ul class="nospace clear">
        <li class="one_third first">
          <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +00 (123) 456 7890</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> support@domain.com</span></div>
        </li>
        <li class="one_third">
          <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Mon. - Sat.:</strong> 08.00am - 18.00pm</span></div>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <section class="hoc clear"> 
    <!-- ################################################################################################ -->
    <nav id="mainav">
      <ul class="clear">
        {% if user.is_authenticated %}
        <li class="active"><a href="/logout">Logout</a></li>
        <li class="active"><a href="#">Welcome, {{user.username}}</a></li>
        
        {% else %}
        <li class="active"><a href="/login">Login</a></li>

          </ul>
          {% endif %}

      </ul>
    </nav>
    <!-- ################################################################################################ -->
   
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div  style="  background-size: cover;  background-image:url('https://images.unsplash.com/photo-1513224502586-d1e602410265?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80');">
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <article>
      <p>Welcome to</p>
      <h3 class="heading">DR. Robot Health Care System</h3>
      <br>
      <br>
      <h3>The preservation of health is easier than </h3>
      <h3>the cure for disease</h3>
      <br>
      <h3 >— B. J. Palmer</h3>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 style="font-weight: bold; font-size: 3em;"class="heading">Monitor Your Body</h6>
      {% load crispy_forms_tags %}  
 
        {% block content %} 

   
        {% endblock %}
      <p>Lectus vehicula tincidunt maecenas non dolor ac nunc malesuada</p>
    </div>
    <div class="group center btmspace-80">
      <article class="one_third first"><a class="ringcon btmspace-50" href="{% url 'getdiabetesform' %}"><i class="fa fa-user-md"></i></a>
        <h6 class="heading">Check Diabetes</h6>
        <p>Check the diabtetes using the blood analysis.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{% url 'getcancerform' %}"><i class="fa fa-stethoscope"></i></a>
        <h6 class="heading">Check Cancer</h6>
        <p>Check Cancer using blood analysis it's a very effective way to predict cancer.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{%url 'bodycheckup' %}"><i class="fa fa-heartbeat"></i></a>
        <h6 class="heading">Body Checkup</h6>
        <p>Check your body weights bmi and others.</p>
      </article>
    </div>
    <div class="group center btmspace-80">
      <article class="one_third first"><a class="ringcon btmspace-50" href="{% url 'uploadrecipt' %}"><i class="fa fa-flask"></i></a>
        <h6 class="heading">Upload Recipt</h6>
        <p>Upload your Reciipt medicine and it will be extracted and saved in database.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{% url 'gethistory' %}"><i class="fa fa-plus-square"></i></a>
        <h6 class="heading">Get History</h6>
        <p>Check your old histories all medicies and classifications .</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{% url 'requirehistory' %}"><i class="fa fa-id-badge"></i></a>
        <h6 class="heading">Require History</h6>
        <p>Require others people history using the identity card.</p>
      </article>
    </div>
    <div class="group center btmspace-80">
      <article class="one_third first"><a class="ringcon btmspace-50" href="{% url 'uploadchestphoto' %}"><i class="fa fa-hospital-o"></i></a>
        <h6 class="heading">Upload Chest X RAY</h6>
        <p>Chest Cancer classification with image.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{% url 'wateravg' %}"><i class="fa fa-glass
        "></i></a>
        <h6 class="heading">Water AVG</h6>
        <p>Getting enough water every day is important for your health.</p>
      </article>
      <article class="one_third"><a class="ringcon btmspace-50" href="{% url 'waitumblance' %}"><i class="fa fa-ambulance"></i></a>
        <h6 class="heading">Waiting Umblance</h6>
        <p>heck for response. Speak to them and gently shake them to see if they’re conscious..</p>
      </article>
    </div>
    
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <article class="one_third first">
      <h6 class="heading">Health monitoring is very important in terms of prevention</h6>
      <p>
        particularly if the early detection of diseases can reduce suffering and medical costs. The diagnosis and prompt treatment of various diseases can radically improve alternatives for the medical treatment of the patient. 
        
        .</p>
      <p class="btmspace-30">This is particularly true in cardiovascular diseases and diabetes; </p>
      <p><a class="btn" href="https://www.sciencedirect.com/topics/engineering/health-monitoring#:~:text=Health%20monitoring%20is%20very%20important,medical%20treatment%20of%20the%20patient." target="_blank">Read more <i class="fas fa-angle-right"></i></a></p>
    </article>                                                       
    <figure class="one_third"><a class="imgover" href="#"><img src="{% static 'images/demo/Monitor2.jpg'%}" alt=""></a></figure>
    <figure class="one_third"><a class="imgover" href="#"><img src="{% static 'images/demo/Monitor3.jpg'%}" alt=""></a></figure>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Additional things you need to monitor</h6>
      <p>You live in your body every day, which makes you the best judge of your own health.</p>
    </div>
    <ul class="nospace group btmspace-80 overview">
      <li class="one_third">
        <article><a href="#"><i class="fa fa-bed"></i></a>
          <h6 class="heading"><a href="#">Monitor Your Sleepiness</a></h6>
          <p>require an alarm clock to wake up most mornings&hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-exclamation-triangle"></i></a>
          <h6 class="heading"><a href="#">Check Your Hairbrush</a></h6>
          <p>If your hair is falling out, ask your doctor to check your levels of blood ferritin, an indication of how much iron your body is storing &hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-check-circle"></i></a>
          <h6 class="heading"><a href="#">Chart Your Pee</a></h6>
          <p>Keep a mental color chart of the colour of your urine.&hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-thermometer-full"></i></a>
          <h6 class="heading"><a href="#">Check Your Cholesterol</a></h6>
          <p>Check your cholesterol once a year either with a home kit, which is available at most pharmacies. If your total cholesterol is over 150 mg/dl, follow up with your doctor. &hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-paw"></i></a>
          <h6 class="heading"><a href="#">Go Over Your Toenails Once a Month</a></h6>
          <p>Look for early signs of fungal infection or in-grown toenails; both are best treated early.&hellip;</p>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fas fa-bicycle"></i></a>
          <h6 class="heading"><a href="#">Follow Your Heart</a></h6>
          <p>Check your heartbeat after you exercise.&hellip;</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">Balanced Diet</h6>
      <p>There are several essential factors for a balanced diet:</p>
    </div>
    <div id="latest" class="group">
      <article class="one_third first"><a class="imgover" href="#"><img src="{% static 'images/demo/carp.jpg'%}" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Low-carb, whole-food diet</h6>
          <p>The low-carb, whole-food diet is perfect for people who need to lose weight, optimize health, and lower their risk of disease.</p>
          <footer><a target="_blank" href="https://www.healthline.com/nutrition/low-carb-diet-meal-plan-and-menu">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href="#"><img src="{% static 'images/demo/mediterranean.jpg'%}" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Mediterranean diet
          </h6>
          <p>It emphasizes foods that were commonly eaten around the Mediterranean region during the 20th century and earlier..</p>
          <footer><a  target="_blank" href="https://www.healthline.com/nutrition/mediterranean-diet-meal-plan">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
      <article class="one_third"><a class="imgover" href="#"><img src="{% static 'images/demo/vegan.jpg'%}" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Vegan diet</h6>
          <p>The diet is based exclusively on plant foods and eliminates all animal products..</p>
          <footer><a href="#">Read More <i class="fas fa-angle-right"></i></a></footer>
        </div>
      </article>
    </div>
    <footer class="center"><a target="_blank" class="btn" href="https://www.healthline.com/nutrition/vegan-diet-guide">More Diets <i class="fas fa-angle-right"></i></a></footer>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">How Do I follow up with the Docotr</h6>
      <p>Chatting on the phone is the most appropriate way to follow up after certain appointments, and it may feel most natural to some patients. However, feel free to explore the other options.</p>
      <p class="btmspace-30"> Consider using email or text messages to follow up after routine appointments so patients can respond at their convenience. [<a href="#"><i class="fas fa-arrow-right"></i></a>]</p>
      <ul class="faico clear">
        <li><a class="faicon-dribble" href="#"><i class="fab fa-dribbble"></i></a></li>
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Aenean lobortis quam at</h6>
    </div>
    <div class="one_third">
      <h6 class="heading">Enim fusce venenatis laoreet</h6>
      <p class="nospace btmspace-15">Send us your Complains and the appropriate doctor we will call you.</p>
      <form method="POST" action="{% url 'message' %}">
        {% csrf_token %}
        <fieldset>
          <legend>Your Complains:</legend>
          <input class="btmspace-15" type="text"  style="height:100px; color: black;" name="complains" value="">
          <button type="submit" value="submit">Submit your Complain</button>
        </fieldset>
      </form>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2022 - All Rights Reserved - <a href="#">AI HEALTH TREATMENT</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
  
        <!--Contact form-->

<script src="{% static 'layout/scripts/jquery.min.js'%}"></script>
<script src="{% static 'layout/scripts/jquery.backtotop.js'%}"></script>
<script src="{% static 'layout/scripts/jquery.mobilemenu.js'%}"></script>
<!-- Optional Javascript -->
<script src="{% static 'https://code.jquery.com/jquery-3.4.1.slim.min.js'%}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js '%}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js '%}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>