{% extends  'main.html'%}

{% load crispy_forms_tags %}  

{% block content %}
<div class="container">
    <h1>Result</h1>

  
    
    <h1>Diabetes Record</h1>
    <table class="table table-dark table-striped">
        <tr>

            <th style="color:white">Patient Name</th>
            <th style="color:white">Classification</th>
            <th style="color:white">created</th>
            
        </tr>

        {%for diabet in diabetes%}
        <tr>
            <td>{{diabet.patient}}</td>
            <td>{{diabet.classification}}</td>
            <td>{{diabet.created}}</td>   
        </tr>
        {%endfor%}

      </table>

      <h1>Cancer Record</h1>
      <table class="table table-dark table-striped">
          <tr>
  
            <th style="color:white">Patient Name</th>
            <th style="color:white">Classification</th>
            <th style="color:white">created</th>
              
          </tr>
  
          {%for cancer in cancers%}
          <tr>
              <td>{{cancer.patient}}</td>
              <td>
                    {{cancer.classification}}
              </td>
              <td>{{cancer.created}}</td>   
          </tr>
          {%endfor%}
  
        </table>



<h1>Prescription Record</h1>
<table class="table table-dark table-striped">
    <tr>

      <th style="color:white">Patient Name</th>
      <th style="color:white">Prescription</th>
      <th style="color:white">created</th>
        
    </tr>

    {% for prescription in prescriptions %}
    <tr>
        <td>{{prescription.patient}}</td>
        <td>
            {{prescription.description}}
        </td>
        <td>{{prescription.created}}</td>   
    </tr>
    {%endfor%}

  </table>


  
<h1>Chest Record</h1>
<table class="table table-dark table-striped">
    <tr>

      <th style="color:white">Patient Name</th>
      <th style="color:white">Chest classification</th>
      <th style="color:white">created</th>
        
    </tr>

    {% for chest in chests %}
    <tr>
        <td>{{chest.patient}}</td>
        <td>
            {{chest.classification}}
        </td>
        <td>{{chest.created}}</td>   
    </tr>
    {%endfor%}

  </table>
  {% endblock %}
</div>

